<?xml version="1.0" encoding="UTF-8"?>
<model>
    <name>lidarsensor_model</name>
    <version>1.0</version>
    <sdf version='1.7'>model.urdf</sdf>
    <author>
        <name>Marco Randazzo</name>
        <email>marco.randazzo@iit.it</email>
    </author>
    <description>Model for the laser plugin</description>
</model>
